.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
}

a {
  cursor: pointer;
  color: orange;
  text-decoration: none;
}

.middle a {
  margin-right: 10px;
}

.logo {
  width: 50px;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
}