div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

h1 {
  color: turquoise;
  font-size: 3vw;
  white-space: nowrap;
}

p {
  font-size: 2vw;
}

.home {
  font-size: 1vw;
  color: green;
}

.menus {
  text-decoration: underline;
  cursor: pointer;
}